<!DOCTYPE html>
<html>
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
      <ul>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae hic
          pariatur accusantium iure magni repellat adipisci laboriosam, aliquid
          assumenda quisquam. Laborum enim nesciunt praesentium ex quia iure
          tempora distinctio cupiditate.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae hic
          pariatur accusantium iure magni repellat adipisci laboriosam, aliquid
          assumenda quisquam. Laborum enim nesciunt praesentium ex quia iure
          tempora distinctio cupiditate.
        </li>
      </ul>
    </section>
  </body>
</html>
