<!DOCTYPE html>
<html>
  <head>
    <%-include('./inc/head')%>
  </head>
  <body>
    <%-include('./inc/nav')%>
    <section>
      <form action="",mehtod="post">
        <input type="text" name="username" placeholder="User Name" required/>
        <input type="password" name="password"  placeholder="Password" required/>
        <input type="submit" value= "Submit"/>
      </form>
    </section>
  </body>
</html>
